body{
  background-color: deepskyblue;
  text-align: center;
  font-family: "Arial Narrow", sans-serif;
}

header{
  background-color: orangered;
}

.menu{
  background-color: pink;
}

.top{
  // background-color: burlywood;
}

.middle{
  // background-color: lightyellow;
}

.bottom{
  // background-color: lightgreen;
}

footer{
  background-color: lightblue;
}


// larger screens
@supports (grid-area: auto) {

  @media screen and (min-width: 600px) {

    @import url(//fonts.googleapis.com/css?family=Noto+Sans);
    body {
      display: grid;
      margin: auto;
      text-align: center;
      font-family: "Noto+Sans", sans-serif;
      grid-template-columns: 33.3% 33.3% 33.3%;
      grid-template-areas:
              "header header header"
              "menu menu menu"// menu"
              "Sec1 Sec2 Sec3"
              "Sec4 Sec5 Sec6"
              "footer footer footer";
    }

    header {
      grid-area: header;
    }

    .menu{
      grid-area: menu;
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-areas: "menu1 menu2 menu3 menu4 menu5";
    }

    .menu1{
      grid-area: menu1;
    }

    .menu2{
      grid-area: menu2;
      // background-color: orange;
      // width: 150px;
    }

    .menu3{
      grid-area: menu3;
      // background-color: aquamarine;
      // width: 150px;
    }

    .menu4{
      grid-area: menu4;
    }

    .menu5{
      grid-area: menu5;
    }

    .Sec1 {
      grid-area: Sec1;
    }

    .Sec2 {
      grid-area: Sec2;
    }

    .Sec3 {
      grid-area: Sec3;
    }

    .Sec4{
      grid-area: Sec4;
    }

    .Sec5{
      grid-area: Sec5;
    }

    .Sec6{
      grid-area: Sec6;
    }

    footer {
      grid-area: footer;
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      grid-template-areas: "kontakt job investor";
    }

    .kontakt{
      grid-area: kontakt;
    }

    .job{
      grid-area: job;
    }

    .investor{
      grid-area: investor;
    }
  }

}
